<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.AdminMapper">
    <resultMap id="adminMap" type="Admin">
        <id column="admin_id" property="adminId"/>
        <result column="name" property="name"/>
        <result column="admin_code" property="adminCode"/>
        <result column="password" property="Pwd"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>

        <collection property="roles" ofType="Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
        </collection>

        <collection property="adminRoles" ofType="AdminRole">
            <id column="admin_id" property="adminId"/>
            <result column="role_id" property="roleId"/>
        </collection>

        <collection property="roleModules" ofType="RoleModule">
            <id column="role_id" property="roleId"/>
            <result column="module_id" property="moduleId"/>
        </collection>
    </resultMap>
    <select id="login" resultMap="adminMap">
        SELECT *
        FROM admin_info
        WHERE admin_code = #{adminCode}
    </select>
    <select id="findAllAdmin" resultMap="adminMap">
        SELECT
            a.admin_id                                 admin_id,
            a.admin_code                               admin_code,
            a.password                                 password,
            a.name                                     name,
            a.telephone                                telephone,
            a.email                                    email,
            a.enrolldate                               enrolldate,
            group_concat(ri.role_name SEPARATOR ',')   role_name
        FROM admin_info a LEFT JOIN (admin_role ar, module_info mi, role_info ri, role_module rm)
                ON a.admin_id = ar.admin_id
                   AND ar.role_id = ri.role_id
                   AND ri.role_id = rm.role_id
                   AND rm.module_id = mi.module_id
        GROUP BY a.admin_id
    </select>


</mapper>